header {
    color: #fff;
}
h1 {
    line-height: 200%;
    font-size: 50px;
}
h5 {
    font-style: italic;
}
body {
    background-image: url(https://previews.123rf.com/images/littleairplane/littleairplane1606/littleairplane160600024/61046144-vector-hand-drawn-cartoon-icons-music-genres-theme-line-colored-doodle-icons-music-illustration-for-.jpg);
    opacity: .96;
}

